body{
    font-family: 'TmonTium' !important;
    font-size: 8rem;
}

.todo-list{
    width:30%;
    margin-left:35%;
    margin-right:35%;
    margin-top:5%;
    margin-bottom:5%;
}

@media screen and (max-width: 800px) {  
    .todo-list{
        width:90%;
        margin-left:5%;
        margin-right:5%;
        margin-top:10%;
        margin-bottom:10%;
    }
}

#todoList-toast {
    max-width: 100%;
    text-align: center;
}

#record-title{
    margin-left: 40%;
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.preview-record{
    margin-top: 10%;
}

#preview-toast-body{
    min-height: 70px;
}

#setting-record-title{
    margin-bottom: 20px;
}

.created-date-font{
    padding-top: 20px;
    padding-bottom: 0;
    color:gray;
}

.font-center{
    font-size : 1.6rem;
    text-align: center;
}

@font-face {
    font-family: 'TmonTium';
    src: url('../util/font/TmonTium.ttf') format('truetype');
}